$primary: #423f8d !default;
$gray-100: #9facb0 !default;
$white: #ffffff !default;
$black: #072541 !default;
$cyan: #1cbbb4 !default;
$pink: #ed078b !default;
$orange: #f7941e !default;
$green: #42af61 !default;
$gray-200: #5e5e5e !default;
.bg-green {
    background-color: $green !important;
}
.bg-yellow {
    background-color: #fefcee !important;
}
.bg-cyan {
    background-color: #d8f3f1 !important;
}
.bg-pink {
    background-color: #fef2f9 !important;
}
.bg-blue {
    background-color: #f4f4ff !important;
}
.bg-orange {
    background-color: #fdf4e8 !important;
}
.text-gray-200 {
    color: $gray-200 !important;
}
.text-primary {
    color: $primary !important;
}
.text-pink {
    color: $pink !important;
}
.text-black {
    color: $black !important;
}
.text-green {
    color: $green !important;
}
@font-face {
    font-family: "AutourOne";
    font-style: normal;
    font-weight: 400;
    src: url("../../../public/fonts/Autour_One/AutourOne-Regular.ttf") format("truetype");
    font-display: swap;
}
// @font-face {
//   font-family: "Poppins";
//   font-style: normal;
//   font-weight: 400;
//   src: url(../fonts/Poppins/Poppins-Regular.ttf) format("truetype");
//   font-display: swap;
// }
// @font-face {
//   font-family: "Poppins";
//   font-style: normal;
//   font-weight: 500;
//   src: url(../fonts/Poppins/Poppins-Medium.ttf) format("truetype");
//   font-display: swap;
// }
// @font-face {
//   font-family: "Poppins";
//   font-style: normal;
//   font-weight: 700;
//   src: url(../fonts/Poppins/Poppins-Bold.ttf) format("truetype");
//   font-display: swap;
// }
body {
    font-family: "Poppins";
    font-weight: 400 !important;
    padding-right: 0 !important;
    background: #f4f4ff !important;
    &.modal-open {
        padding-right: 0 !important;
    }
}
.left-0 {
    left: 0;
}
.px-40 {
    padding-left: 40px;
    padding-right: 40px;
    @media (max-width: 575px) {
        padding-left: 20px;
        padding-right: 20px;
    }
}
.section-heading {
    margin-bottom: 40px;
    overflow: hidden;
    h2 {
        font-size: 22px;
        position: relative;
        display: inline-block;
        color: $white;
        padding: 8px 30px 8px 30px;
        border-radius: 60px;
        position: relative;
        max-width: 90%;
        font-family: "AutourOne";
        font-style: normal;
        font-weight: 400;
        @media (max-width: 575px) {
            font-size: 22px;
            padding: 14px 30px 14px 30px;
        }
        @media (max-width: 575px) {
            font-size: 19px;
            padding: 10px 14px;
        }
        &::after {
            position: absolute;
            content: "";
            width: 16px;
            right: -12px;
            bottom: -1px;
            height: 23px;
            background-repeat: no-repeat;
        }
        &::before {
            position: absolute;
            content: "";
            width: 12px;
            left: -7px;
            top: 2px;
            height: 12px;
            background-repeat: no-repeat;
        }
    }
    &.yellow {
        h2 {
            background-color: #f8ce0e;

            &::after {
                background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='15' height='22' viewBox='0 0 15 22' fill='none'><path d='M13 2C13 2 13.0489 12.804 2 20' stroke='%23f8ce0e' stroke-width='3' stroke-miterlimit='10' stroke-linecap='round'/></svg>");
            }

            &::before {
                background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='10' height='12' viewBox='0 0 10 12' fill='none'><path d='M8 2C8 2 2.19298 6.16268 2 10' stroke='%23f8ce0e' stroke-width='3' stroke-miterlimit='10' stroke-linecap='round'/></svg>");
            }
        }
    }
    &.orange {
        h2 {
            background-color: #f69800;

            &::after {
                background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='15' height='22' viewBox='0 0 15 22' fill='none'><path d='M13 2C13 2 13.0489 12.804 2 20' stroke='%23f69800' stroke-width='3' stroke-miterlimit='10' stroke-linecap='round'/></svg>");
            }

            &::before {
                background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='10' height='12' viewBox='0 0 10 12' fill='none'><path d='M8 2C8 2 2.19298 6.16268 2 10' stroke='%23f69800' stroke-width='3' stroke-miterlimit='10' stroke-linecap='round'/></svg>");
            }
        }
    }
    &.blue {
        h2 {
            background-color: #423f8d;
            &::after {
                background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="15" height="22" viewBox="0 0 15 22" fill="none"><path d="M13 2C13 2 13.0489 12.804 2 20" stroke="%23423f8d" stroke-width="3" stroke-miterlimit="10" stroke-linecap="round"/></svg>');
            }
            &::before {
                background-image: url('data:image/svg+xml;utf8,<svg width="10" height="12" viewBox="0 0 10 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M8 2C8 2 2.19298 6.16268 2 10" stroke="%23423f8d" stroke-width="3" stroke-miterlimit="10" stroke-linecap="round"/></svg>');
            }
        }
    }
    &.pink {
        h2 {
            background-color: #ed088b;
            &::after {
                background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="15" height="22" viewBox="0 0 15 22" fill="none"><path d="M13 2C13 2 13.0489 12.804 2 20" stroke="%23ed088b" stroke-width="3" stroke-miterlimit="10" stroke-linecap="round"/></svg>');
            }
            &::before {
                background-image: url('data:image/svg+xml;utf8,<svg width="10" height="12" viewBox="0 0 10 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M8 2C8 2 2.19298 6.16268 2 10" stroke="%23ed088b" stroke-width="3" stroke-miterlimit="10" stroke-linecap="round"/></svg>');
            }
        }
    }
    &.cyan {
        h2 {
            background-color: #1cbbb4;
            &::after {
                background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="15" height="22" viewBox="0 0 15 22" fill="none"><path d="M13 2C13 2 13.0489 12.804 2 20" stroke="%231cbbb4" stroke-width="3" stroke-miterlimit="10" stroke-linecap="round"/></svg>');
            }
            &::before {
                background-image: url('data:image/svg+xml;utf8,<svg width="10" height="12" viewBox="0 0 10 12" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M8 2C8 2 2.19298 6.16268 2 10" stroke="%231cbbb4" stroke-width="3" stroke-miterlimit="10" stroke-linecap="round"/></svg>');
            }
        }
    }
}
.btn {
    font-weight: 500;
    padding: 12px 36px;
    border-radius: 15px;

    &:focus {
        box-shadow: none !important;
        outline: none !important;
    }
}
@media (max-width: 576px) {
    .btn-icon {
        padding: 0;
    }
}
.btn-primary {
    color: $white;
    background-color: $primary;
    border: 1px solid $primary;
    &:hover,
    &:focus,
    &.active {
        color: $primary;
        background-color: $white;
        border: 1px solid $primary;
    }
}

.enquiry-btn {
    @media (max-width: 425px) {
       width: 100%;
       margin-top: 4px;
    }
    .btn-primary-enquiry {
        color: $white;
        background-color: $primary;
        border: 1px solid $primary;
         padding: 6px 20px !important;
        &:hover,
        &:focus,
        &.active {
            color: $white;
            background-color: $primary;
            border: 1px solid $primary;
        }
        @media (max-width: 425px) {
            width: 100%;
        }
    }
}

.btn-product-enquiry {
    padding: 10px 20px !important;
    background: #423f8d !important;
    border: 1px solid #423f8d !important;
    outline: none !important;
    color: #ffffff !important;
    border-radius: 30px !important;
    transition: all 0.3s ease !important;
    &:hover {
        background-color: white !important;
        color: #423f8d !important;
    }
}
.btn-green {
    color: $white;
    background-color: $green;
    border: 1px solid $green;
    &:hover,
    &:focus,
    &.active {
        color: $green;
        background-color: $white;
        border: 1px solid $green;
    }
}
.btn-cyan {
    color: $white;
    background-color: $cyan;
    border: 1px solid $cyan;
    &:hover,
    &:focus,
    &.active {
        color: $cyan;
        background-color: $white;
        border: 1px solid $cyan;
    }
}
.btn-pink {
    color: $white;
    background-color: $pink;
    border: 1px solid $pink;
    &:hover,
    &:focus,
    &.active {
        color: $pink;
        background-color: $white;
        border: 1px solid $pink;
    }
}
.btn-orange {
    color: $white;
    background-color: $orange;
    border: 1px solid $orange;
    &:hover,
    &:focus,
    &.active {
        color: $orange;
        background-color: $white;
        border: 1px solid $orange;
    }
}
.main-content {
    position: relative;
    background-color: $white;
    border-radius: 15px;
    max-width: 670px !important;
    min-height: calc(100vh - 8px) !important;
    margin-top: 4px !important;
    margin-bottom: 4px !important;
}
.bg-img {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1 !important;
}
.banner-section {
    .banner-img {
        width: 100%;
        height: 320px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        position: relative;
        @media (max-width: 576px) {
            height: 300px;
        }
    }
}
.profile-section {
    position: relative;
    .profile-bg-img {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        z-index: 1;
    }
    .card {
        border: none;
        width: fit-content;
        margin: 0 auto;
        .card-img {
            width: 160px;
            height: 160px;
            min-width: 160px;
            position: relative;
            border-radius: 50%;
            border: 3px solid $cyan;
            position: relative;
            z-index: 2;
            img {
                overflow: hidden;
                border-radius: 50%;
            }
            @media (max-width: 575px) {
                margin: 0 auto;
                width: 120px;
                height: 120px;
                min-width: 120px;
            }
        }
        .card-body {
            position: relative;
            z-index: 2;
        }
    }
}
.social-media-section {
    .social-icon {
        width: 55px;
        min-width: 55px;
        height: 50px;
        background-image: url("/assets/img/vcard24/social-icon-bg-24.svg");
        background-size: cover;
        background-repeat: no-repeat;
        display: flex;
        transition: 0.3s all ease-in-out;
        svg,
        img {
            width: 25px;
            height: 25px;
            color: white !important;
            transition: 0.3s all ease-in-out;
            margin-left: -3px;
        }
        &:hover {
            transition: 0.3s all ease-in-out;
            background-image: url("/assets/img/vcard24/social-icon-hover-bg-24.svg");
            svg,
            img {
                transform: scale(1.2);
                color: $pink !important;
            }
        }
    }
}
.contact-section {
    .row {
        align-items: stretch;
        row-gap: 40px;
    }
    [class*="col-"] {
        display: flex;
        flex-direction: column;
        margin-bottom: 0 !important;
    }
    position: relative;
    .contact-box {
        padding: 8px;
        background: #ffffff;
        border: 1px solid #fbce0f;
        border-radius: 30px;
        position: relative;
        flex: 1;
        width: 100%;
        .contact-icon {
            width: 45px;
            min-width: 45px;
            height: 40px;
            background-image: url("/assets/img/vcard24/contact-icon-bg-24.svg");
            background-size: cover;
            background-repeat: no-repeat;
            img {
                width: 22px;
            }
        }
    }
    .contact-desc {
        word-break: break-word !important;
    }
}
.our-services-section {
    position: relative;
    .services {
        .service-card {
            border-radius: 30px;
            padding: 0;
            border: 1px solid #423f8d !important;
            box-shadow: 0 0px 5px #0000001a;
            background-color: #f4f4ff;
            overflow: hidden;
            .card-img {
                width: 100%;
                height: 176px;
                border-radius: 30px 30px 0 0;
                background-color: $white;
                overflow: hidden;
                img {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                    border-radius: 15px 15px 0 0;
                }
            }
            .card-title {
                font-size: 18px;
            }
            .description-text {
                font-size: 14px;
            }
        }
        .services-slider-view {
            .slick-slide {
                padding: 0 10px;
            }
            .card-body {
                min-height: 205px;
            }
            .service-card {
                .card-title {
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    font-size: 18px;
                    min-height: 44px;
                }
                .description-text {
                    font-size: 14px;
                    display: -webkit-box;
                    -webkit-line-clamp: 3;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    min-height: 63px;
                }
            }
        }
    }
}
.appointment-section {
    position: relative;
    .appointment {
        padding: 15px;
        border-radius: 40px;
        background-color: white;
        border: 1px solid #ed088b;
        .appointment-input {
            width: 100%;
            height: 50px;
            padding: 12px 20px;
            border: 1px solid #ed088b;
            background: #fef2f9;
            color: #ed088b;
            border-radius: 30px;
            box-shadow: none !important;
            &::placeholder {
                color: #ed088b;
            }
            &:focus {
                outline: none;
            }
        }
        .hour-input {
            height: 50px;
            padding: 10px;
            background-color: $white;
            border-radius: 15px;
            border: 1px solid $orange;
        }
    }
}
.gallery-section {
    position: relative;
    .earth-img {
        position: absolute;
        top: 10px;
        right: 0;
        img {
            width: 100%;
        }
        @media (max-width: 575px) {
            img {
                width: 60%;
            }
        }
    }
    .star-img {
        position: absolute;
        bottom: 0;
        right: 0;
        img {
            width: 100%;
        }
        @media (max-width: 575px) {
            img {
                width: 75%;
            }
        }
    }
    .gallery-slider {
        position: relative;

        .slick-slide {
            padding: 0 10px;
        }

        .gallery-img,
        .gallery-item {
            position: relative;
            width: 100%;
            height: 100%;
            overflow: hidden;
            background-size: cover;
            background-position: center;
            border-radius: 15px;
        }
        .gallery-file-item {
            background-size: contain;
            background-repeat: no-repeat;
        }
        .gallery-img {
            border-radius: 30px;
            position: relative;
            margin: 0 auto;
            max-width: 560px;
            max-height: 280px;
            height: 280px;
            aspect-ratio: 2;
            overflow: hidden;
            background-color: $white;
            border: 2px solid #f69800 !important;
            .expand-icon {
                width: 40px;
                height: 40px;
                border-radius: 50%;
                background-color: #f69800;
                border: 1px solid #f69800;
                position: absolute;
                top: 10px;
                right: 10px;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                cursor: pointer;
                z-index: 1;
            }
            @media (max-width: 480px) {
                height: 240px;
            }

            img,
            iframe {
                width: 100%;
                object-fit: cover;
                height: 100%;
            }
            .audio-container {
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;
                height: 100%;
                padding: 0;

                .audio-image {
                    width: 100%;
                    height: 100% !important;
                    object-fit: cover;
                    border-radius: 12px;
                    margin-bottom: 0;
                }

                audio {
                    position: absolute;
                    bottom: 20px !important;
                    left: 50%;
                    transform: translateX(-50%);
                    width: 80%;
                    max-width: 400px;
                    z-index: 2;
                }

                &:fullscreen {
                    padding: 15% !important;

                    @media (max-width: 575px) {
                        padding: 20px !important;
                        flex-direction: column;
                    }

                    .audio-image {
                        border-radius: 12px;

                        @media (max-width: 575px) {
                            height: 350px;
                        }
                    }

                    audio {
                        bottom: calc(15% + 13%) !important;
                        min-width: 45%;

                        @media (max-width: 575px) {
                            position: static;
                            transform: none;
                            width: 90%;
                            margin-top: -70px;
                        }
                    }
                }
            }
        }
    }
    .gallery-filter-nav {
        padding: 0 10px;
    }
    .gallery-filter-btn {
        border: 1px solid $orange;
        background-color: $white;
        color: $orange;
        border-radius: 50rem;
        padding: 8px 16px;
        font-size: 14px;
        font-weight: 600;
        line-height: 1;
        transition: all 0.3s ease;
        &.active {
            background-color: $orange;
            border-color: $orange;
            color: $white;
        }
    }
    .gallery-filter-panel {
        display: none;
        &.active {
            display: block;
        }
    }
}
.product-section {
    position: relative;
    .product-slider {
        .slick-slide {
            padding: 0px 10px;
        }
        .product-card {
            border-radius: 30px;
            padding: 0;
            border: 1px solid #423f8d !important;
            background-color: #f4f4ff;
            margin: 0 auto;
            height: 100%;
            overflow: hidden;
            flex-direction: column;
            justify-content: center;
            min-height: 305px;
            .product-img {
                width: 100%;
                height: 200px;
                border-radius: 30px 30px 0 0;
                overflow: hidden;
                aspect-ratio: 0.955;
                @media (max-width: 425px) {
                    margin: 0 auto;
                }

                img {
                    object-fit: cover;
                    aspect-ratio: 0.955;
                }
            }

            .product-desc {
                min-height: 122px;
                @media (max-width: 425px) {
                    min-height: 150px;
                }
                .product-title {
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    font-size: 18px;
                    min-height: 44px;
                    @media (max-width: 575px) {
                        min-height: 38px;
                        font-size: 16px;
                    }
                }
                .product-info {
                    flex-direction: row;
                    align-items: center;
                    @media(max-width:425px) {
                        flex-wrap: wrap;
                        justify-content: center !important;
                    }
                        &>a {
                    overflow: hidden;
                }
                }
                .product-amount {
                    font-size: 22px;
                    display: -webkit-box;
                    -webkit-line-clamp: 1;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    padding-right: 6px;
                    @media (max-width: 575px) {
                        font-size: 20px;
                    }
                }
            }
        }
    }
}

.whatsapp-store-product-section {
    position: relative;
    .whatsapp-store-slider {
        .slick-slide {
            padding: 0px 10px;
        }
        .whatsapp-store-box {
            border-radius: 30px;
            padding: 0;
            border: 1px solid #ed098b !important;
            background-color: #fef2f9;
            margin: 0 auto;
            height: 100%;
            overflow: hidden;
            flex-direction: column;
            justify-content: center;
            min-height: 305px;
            .whatsapp-store-img {
                width: 100%;
                height: 200px;
                border-radius: 30px 30px 0 0;
                overflow: hidden;
                aspect-ratio: 0.955;
                @media (max-width: 425px) {
                    margin: 0 auto;
                }

                img {
                    object-fit: cover;
                    aspect-ratio: 0.955;
                }
            }

            .whatsapp-store-content {
                min-height: 122px;
                .whatsapp-store-name {
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    font-size: 18px;
                    min-height: 44px;
                    @media (max-width: 575px) {
                        min-height: 38px;
                        font-size: 16px;
                    }
                }
                .btn {
                    padding: 6px 20px !important;
                    border-radius: 15px !important;
                    @media (max-width: 425px) {
                        width: 100%;
                    }
                }
            }
        }
    }
}

.testimonial-section {
    position: relative;
    .testimonial-slider {
        .slick-slide {
            padding: 0 10px;
        }
        .testimonial-card {
            border: 0 !important;
            .card-img {
                position: relative;
                width: 60px;
                min-width: 60px;
                height: 60px;
                border-radius: 50%;
                border: 2px solid $cyan;
                overflow: hidden;
            }
            .card-body {
                position: relative;
                padding: 40px;
                background-color: #ffffff;
                border: 2px solid #3dbbb4;
                border-radius: 40px;
                min-height: 168px;
                @media (max-width: 575px) {
                    padding: 20px;
                }
                .quote-img {
                    position: absolute;
                    &.left-img {
                        top: 11px;
                        left: 14px;
                    }
                    &.right-img {
                        bottom: 11px;
                        right: 14px;
                    }
                    img {
                        width: 34px;
                    }
                }
                .desc {
                    display: -webkit-box;
                    -webkit-line-clamp: 4;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                }
            }
        }
    }
}
.blog-section {
    position: relative;
    .blog-slider {
        position: relative;
        .slick-slide {
            padding: 0 10px;
        }
        .blog-card {
            margin: 0 auto;
            border-radius: 30px;
            border: 1px solid #423f8d !important;
            overflow: hidden;
            border: 1px solid #423f8d;
            background-color: #f4f4ff !important;
            border-radius: 15px;
            overflow: hidden;
            .card-img {
                position: relative;
                border: none;
                width: 100%;
                height: 280px;
                overflow: hidden;

                @media (max-width: 575px) {
                    min-width: 100%;
                    max-width: 100%;
                }
                height: 240px;
                max-width: 610px;
                margin: 0 auto;
                overflow: hidden;
                display: inline-block;
            }
            .card-body {
                overflow: hidden;
                background-color: #f4f4ff;
                .blog-desc {
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-line-clamp: 2 !important;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    min-height: 39px;
                    line-height: 1.2;
                    font-size: 16px;
                    font-size: 16px;
                    min-height: 39px;
                    line-height: 1.2;
                }
                .blog-head {
                    display: -webkit-box;
                    -webkit-line-clamp: 2 !important;
                    -webkit-line-clamp: 2 !important;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    font-size: 20px;
                    min-height: 48px;
                    font-size: 20px;
                    min-height: 48px;
                }
            }
        }
    }
}
.business-hour-section {
    position: relative;
    .business-hours {
        .business-box {
            padding: 8px;
            border-radius: 30px;
            border: 1px solid #f8ce0e;
            background-color: #ffffff;
            .business-hour-icon {
                width: 45px;
                min-width: 45px;
                height: 40px;
                background-image: url("/assets/img/vcard24/contact-icon-bg-24.svg");
                background-size: cover;
                background-repeat: no-repeat;
            }
        }
    }
}
.qr-code-section {
    position: relative;
    .qr-code {
        max-width: 550px;
        width: 100%;
        border-radius: 30px;
        padding: 25px;
        border: 1px solid #423f8d;
        background-color: #f4f4ff;
        .qr-code-img {
            width: 120px;
            height: 120px;
            min-width: 120px;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 2px solid #423f8d;
            border-radius: 15px;
            padding: 8px;
            background: #ffffff;
            svg,
            img {
                border-radius: 6px;
            }
        }
    }
}

// payment-link-section
.payment-link-section {
    .payment-link-slider .slick-track {
        display: flex;
        align-items: stretch;
    }

    .payment-link-slider .slick-slide {
        height: auto;

        > div {
            height: 100%;
        }
    }

    .payment-link-slider .slide {
        height: 100%;
    }

    .pl-strip {
        display: flex;
        align-items: center;
        background: #d8f3f1;
        border-radius: 16px;
        padding: 14px 16px;
        transition: all 0.3s ease;
        min-height: 120px;
        height: 100%;
        border: 2px solid #40bbb4;
    }

    .pl-strip-icon {
        flex-shrink: 0;
        background: #a6d7d1;
        border-radius: 12px;
        padding: 12px;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            height: 65px;
            width: 46px;
            object-fit: contain;
        }
    }

    .pl-strip-content {
        flex-grow: 1;
        padding: 0 14px;
        min-width: 0;
    }

    .pl-strip-title {
        font-size: 16px;
        font-weight: 500;
        margin-bottom: 4px;
        color: #226f65;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .pl-strip-desc {
        font-size: 13px;
        color: $black;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 4;
        overflow: hidden;
        word-break: break-word;
        line-height: 1.4;
        max-height: calc(1.4em * 4);
        text-overflow: ellipsis;
        display: block;
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
    }

    .pl-strip-action {
        flex-shrink: 0;
    }

    .pl-strip-btn {
        padding: 8px 18px;
        border-radius: 50px;
        background: $cyan;
        color: $white;
        font-size: 13px;
        font-weight: 600;
        text-decoration: none;
        &:hover {
            background: $white;
            color: $cyan;
            border: 1px solid $cyan;
        }
    }

    .pl-strip-badge {
        padding: 9px 13px 6px 17px;
        border-radius: 50px;
        background: $cyan;
        color: $white;
        font-size: 12px;
        font-weight: 700;
        &:hover {
            background: $white;
            color: $cyan;
            border: 1px solid $cyan;
        }
    }

    .link-icon-btn svg {
        width: 15px;
        height: 16px;
    }

    .pl-strip-content-img {
        max-width: 65px;
        max-height: 85px;
        object-fit: cover;
    }
}

.contact-us-section {
    position: relative;
    .contact-form {
        padding: 20px;
        border-radius: 40px;
        background-color: white;
        border: 1px solid #ed088b;
        form {
            .form-control {
                margin-bottom: 15px;
                padding: 13px 20px;
                height: 50px;
                border-radius: 30px;
                background-color: #fef2f9;
                border: 1px solid #ed088b;
                color: #ed088b;
                font-size: 14px;
                box-shadow: none !important;
                &::placeholder {
                    color: #ed088b;
                }
                &:focus {
                    outline: none;
                }
            }
        }
    }
}
.create-vcard-section {
    position: relative;
    .vcard-link-card {
        padding: 15px 20px;
        border-radius: 30px;
        border: none;
        position: relative;
        background-color: #f4f4ff;
        border: 1px solid #423f8d;
        .link {
            position: relative;
            z-index: 9;
        }
        .link-text {
            font-size: 18px;
            word-break: break-all;
            @media (max-width: 575px) {
                font-size: 16px;
            }
        }
    }
}
.add-to-contact-section {
    position: fixed;
    width: 100%;
    left: 0;
    bottom: 60px;
    z-index: 3;
}
.btn-section {
    .fixed-btn-section {
        .school-bars-btn {
            background-color: $pink;
        }
        .sub-btn {
            .school-sub-btn {
                background-color: $pink;
                border: 1px solid $pink;
            }
        }
    }
}
.slick-dotted.slick-slider {
    margin-bottom: 10px;
}
.slick-dots {
    position: relative;
    bottom: -15px;
    li {
        margin: 0 4px !important;
        width: 8px !important;
        height: 8px !important;
        button {
            width: 8px !important;
            height: 8px !important;
            font-size: 0;
            margin: 0 auto !important;
            &:before {
                font-size: 0;
                width: 8px !important;
                height: 8px !important;
                border-radius: 10px;
                background-color: #423f8d;
                color: transparent !important;
            }
        }
        &.slick-active {
            li {
                width: 30px !important;
                button {
                    width: 30px !important;
                    &:before {
                        width: 30px !important;
                        opacity: 1 !important;
                        background-color: #423f8d;
                    }
                }
            }
        }
    }
}

.dob-icon svg {
    width: 22px;
    height: 22px;
    color: $white;
}

//custom css
.px-30 {
    padding-left: 30px;
    padding-right: 30px;
    @media (max-width: 575px) {
        padding-left: 20px;
        padding-right: 20px;
    }
}
.px-20 {
    padding-left: 20px;
    padding-right: 20px;
    @media (max-width: 575px) {
        padding-left: 10px;
        padding-right: 10px;
    }
}
.fs-12 {
    font-size: 12px;
}
.fs-14 {
    font-size: 14px;
}
.fs-18 {
    font-size: 18px;
    @media (max-width: 575px) {
        font-size: 16px;
    }
}
.fs-20 {
    font-size: 20px;
}
.mt-10 {
    margin-top: 10px;
}
.mt-40 {
    margin-top: 40px;
    @media (max-width: 575px) {
        margin-top: 30px;
    }
}
.mb-40 {
    margin-bottom: 40px;
    @media (max-width: 575px) {
        margin-bottom: 30px;
    }
}
.mb-30 {
    margin-bottom: 30px;
    @media (max-width: 575px) {
        margin-bottom: 25px;
    }
}
.mx-30 {
    margin-left: 30px;
    margin-right: 30px;
    @media (max-width: 575px) {
        margin-left: 20px;
        margin-right: 20px;
    }
}
.mb-20 {
    margin-bottom: 20px;
}
.mb-10 {
    margin-bottom: 10px;
}
.pb-50 {
    padding-bottom: 50px;
    @media (max-width: 575px) {
        padding-bottom: 40px;
    }
}
.pt-40 {
    padding-top: 40px;
    @media (max-width: 575px) {
        padding-top: 25px;
    }
}
.pb-40 {
    padding-bottom: 40px;
    @media (max-width: 575px) {
        padding-bottom: 25px;
    }
}
.pt-60 {
    padding-top: 60px;
    @media (max-width: 575px) {
        padding-top: 40px;
    }
}
.pb-60 {
    padding-bottom: 60px;
    @media (max-width: 575px) {
        padding-bottom: 40px;
    }
}
.pt-30 {
    padding-top: 30px;
    @media (max-width: 575px) {
        padding-top: 20px;
    }
}
.pb-30 {
    padding-bottom: 30px;
    @media (max-width: 575px) {
        padding-bottom: 20px;
    }
}
.pt-50 {
    padding-top: 50px;
    @media (max-width: 575px) {
        padding-top: 40px;
    }
}
.pt-80 {
    padding-top: 80px;
    @media (max-width: 575px) {
        padding-top: 40px;
    }
}
.pb-80 {
    padding-bottom: 80px;
    @media (max-width: 575px) {
        padding-bottom: 40px;
    }
}
.px-10 {
    padding-left: 10px;
    padding-right: 10px;
}
.fw-5 {
    font-weight: 500;
}
.fw-6 {
    font-weight: 600;
}
.fw-7 {
    font-weight: 700;
}
.fs-12 {
    font-size: 12px;
}
.fs-36 {
    font-size: 36px;
    @media (max-width: 575px) {
        font-size: 30px;
    }
}
.fs-30 {
    font-size: 30px;
    @media (max-width: 575px) {
        font-size: 28px;
    }
}
.fs-28 {
    font-size: 28px;
    @media (max-width: 575px) {
        font-size: 24px;
    }
}
a {
    text-decoration: none;
}

.object-fit-cover {
    object-fit: cover;
}
.flex-1 {
    flex: 1;
}
.cursor-pointer {
    cursor: pointer;
}
.btn-section {
    position: absolute;
    top: 50%;
    right: 80px;
    z-index: 9;
    .fixed-btn-section {
        position: fixed;
        top: 50%;
        display: flex;
        align-items: center;
        .bars-btn {
            width: 65px;
            height: 65px;
            min-width: 65px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .sub-btn {
            position: absolute;
            right: 75px;
            display: none;
            .social-btn {
                width: 50px;
                height: 50px;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                i {
                    font-size: 24px;
                }
            }
        }
    }
}
.insta-feed {
    max-height: 1000px !important;
    overflow-x: hidden;
    overflow-y: scroll;
    @media (max-width: 320px) {
        .insta-embed {
            width: 100% !important;
        }
    }
}
.insta-feed::-webkit-scrollbar {
    width: 0px;
}

.insta-feed::-webkit-scrollbar-thumb {
    background-color: #f1faff !important;
}

.insta-feed::-webkit-scrollbar-track {
    background-color: #f1faff !important;
}
.insta-feed-iframe iframe {
    border-radius: 15px !important;
    // border: none !important;
}

.instagram-btn {
    flex: 1;
    position: relative;
    background: transparent;
    &::before {
        content: "";
        position: absolute;
        width: 0%;
        height: 2px;
        top: 100%;
        background-color: #423f8d;
        transition: width 0.3s ease;
    }
    &.active::before {
        width: 80%;
    }
    .svg-post-icon rect,
    .svg-post-icon line {
        stroke: #423f8d;
    }
    &.active .svg-post-icon rect,
    &.active .svg-post-icon line {
        fill: #423f8d;
        stroke: #ffff;
    }
    .svg-reels-icon .not-active-svg {
        display: block;
    }
    .svg-reels-icon .active-svg {
        display: none;
    }
    .svg-reels-icon path.not-active-svg,
    .svg-reels-icon rect {
        fill: #423f8d;
    }
    .svg-reels-icon path {
        fill: #423f8d;
    }
    &.active .svg-reels-icon .not-active-svg,
    &.active .svg-reels-icon rect {
        display: none;
    }
    &.active .svg-reels-icon .active-svg {
        display: block;
    }
}
.insta-toggle {
    border-radius: 35px !important;
    margin: 10px !important;
    padding: 5px !important;
    transition: all 0.3s ease !important;
}
#instafeed-container {
    a img {
        width: 44%;
        height: 200px !important;
        margin: 11px;
        border-radius: 15px;
    }
}
.instagram-media {
    min-width: 50% !important;
    max-width: 100% !important;
    border-radius: 30px !important;
    border: 1px solid #423f8d !important;
    box-shadow: none !important;
}
.vcard-twentyfour {
    &.main-content {
        position: relative;
        background-color: $white;
        border-radius: 15px;
        max-width: 670px !important;
        min-height: calc(100vh - 8px) !important;
        margin-top: 4px !important;
        margin-bottom: 4px !important;
        color: #211c29;
    }

    .vcard-twentyfour-heading {
        font-weight: 500;
        font-size: 28px;
        color: #423f8d;
    }
}
.vcard-twentyfour-btn {
    padding: 10px 20px;
    border: 1px solid #423f8d;
    outline: none;
    background-color: #423f8d;
    color: #ffffff;
    border-radius: 30px;
    transition: all 0.3s ease;
    width: fit-content;
    &:hover {
        background-color: white;
        color: #423f8d;
    }
}
.product-heading {
    font-size: 28px !important;
}
.back-btn {
    padding: 10px 20px;
    border: 1px solid #423f8d;
    outline: none;
    background-color: #423f8d;
    color: #ffffff;
    border-radius: 30px;
    transition: all 0.3s ease;
    width: fit-content;
    &:hover {
        background-color: white;
        color: #423f8d;
    }
}
.iframe-slider {
    .slick-slide {
        padding: 0 10px;
    }
    .iframe-card {
        iframe {
            border-radius: 30px;
            border: 1px solid #423f8d !important;
            overflow: hidden;
        }
    }
}
.vcard-one__product {
    .product-card {
        margin: 10px auto !important;
        background-color: #f4f4ff;
        border: 1px solid #423f8d;
        padding: 12px;
        position: relative;
        overflow: hidden;
        border-radius: 10px !important;
        box-shadow: none !important;
        padding: 20px;
    }
    .product-img-slider {
        margin-left: -10px;
        margin-right: -10px;
        margin-bottom: 10px !important;
        .slick-slide {
            padding: 0 10px !important;
            margin: 0 !important;
            width: 100%;
            margin-bottom: 0 !important;
        }
        .slick-dots {
            bottom: 0 !important;
        }
        .product-img-height {
            max-height: 208px;
            aspect-ratio: 2.76;
            border: 1px solid #423f8d;
            border-radius: 10px;
            img {
                aspect-ratio: 2.76;
                border-radius: 10px;
            }
        }
    }

    .slick-list {
        padding: 0 !important;
    }
}
.buy-product {
    padding: 10px 20px;
    background: #423f8d;
    border: 1px solid #423f8d;
    outline: none;
    color: #ffffff;
    border-radius: 30px;
    transition: all 0.3s ease;
    &:hover {
        background-color: white;
        color: #423f8d;
    }
}
.vcard24-sticky-btn {
    background: $primary;
    color: #6554ce;
    border-radius: 5px;
    height: 40px;
}

.vcard24-btn-group {
    width: 50px;
    height: 50px;
    color: $white !important;
    background-color: #ed098b;
    border-radius: 50px !important;
}
.language {
    ul {
        list-style: none;

        .lang-list {
            padding: 3px 9px;
            background: $cyan;
            border: none;
            outline: none;
            border-radius: 6px;
            transition: all 0.3s ease;
            width: -moz-fit-content;
            width: fit-content;
            font-size: 14px;
            .lang-head {
                color: #ffffff;

                i {
                    color: #ffffff;
                }
            }

            .lang-hover-list {
                margin: 15px 0 0;
                font-size: 14px;
                width: 100%;
                right: 0;
                min-width: 70px;

                li {
                    padding: 4px 10px;

                    &:hover,
                    &.active {
                        background-color: #40bbb42e !important;

                        a {
                            color: $cyan !important;
                        }
                    }

                    a {
                        color: #5e6278 !important;
                        text-decoration: none;
                        font-size: 14px !important;
                    }

                    img {
                        height: 14px !important;
                        width: 18px !important;
                    }
                }
            }
        }
    }
}
.modal-backdrop {
    background-color: transparent !important;
}
.activeSlot {
    background-color: #ed088b !important;
    color: #ffffff !important;
    cursor: pointer;
}
.time-slot {
    color: #ed088b;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 47px;
    font-size: 14px;
    border-radius: 30px;
    cursor: pointer;
    border: 1px solid #ed088b;
    box-shadow: none;
    background-color: #fef2f9;
}
.timePick {
    margin-top: 15px !important;
    margin-bottom: 0 !important;
}
.support-banner {
    width: 100%;
    max-width: 606px;
    height: auto !important;
    // height: 300px !important;
    position: fixed;
    bottom: 20px;
    z-index: 99999 !important;
    background: white;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 20px;
    left: 0;
    right: 0;
    margin: auto;
    border: 1px solid #423f8d;

    .support_heading {
        font-size: 27px;
        margin-top: 30px;
    }
    .support_text {
        margin-bottom: 22px;
        max-height: 123px !important;
        overflow-x: hidden;
        overflow-y: scroll;
        margin-top: 13px;
        @media (max-width: 320px) {
            max-height: 194px !important;
            overflow: auto !important;
        }
        &::-webkit-scrollbar {
            width: 4px;
        }
        &::-webkit-scrollbar-track {
            background: transparent;
        }
        &::-webkit-scrollbar-thumb {
            background: #888;
        }
    }
}

@media (max-width: 767px) {
    .support-banner {
        max-width: 476px !important;
    }
}

@media (max-width: 575px) {
    .support-banner {
        max-width: 100% !important;
    }
}
.act-now {
    padding: 7px 21px;
    background: #423f8d;
    border: 1px solid #423f8d;
    outline: none;
    transition: all 0.3s ease;
    transform: translateY(0);
    text-decoration: none;
    color: white !important;
    position: relative;
    bottom: 10px;
    display: inline-block !important;
    border-radius: 30px;
    &:hover {
        background-color: white;
        border: 1px solid #423f8d;
        color: #423f8d !important;
    }
}
.banner-close {
    position: absolute;
    top: 20px;
    right: 25px;
    font-size: 20px !important;
    background: none;
    border: none;
}
.modal {
    z-index: 99999 !important;
    background-color: #00000080;
    .news-modal {
        #newsLatter-content {
            .form-control {
                padding: 0.375rem 0.75rem !important;
                font-size: 0.875rem !important;
            }
            box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 10%);
            border: none;
            border-radius: 0.475rem;
            outline: 0;
            background-color: #212020;
            .newsmodal-header {
                .btn-close {
                    background: transparent
                        url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ADB5BD'%3E%3Cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3E%3C/svg%3E")
                        50%/1em auto no-repeat;
                    position: absolute !important;
                    right: 16px !important;
                    top: 16px !important;
                    z-index: 1 !important;
                }
                .newsmodal-title {
                    font-size: 50px;
                    text-align: center !important;
                    color: #e5eef0;
                }
            }

            .modal-body {
                padding: 1.75rem;
                .content {
                    color: #e5eef0;
                    font-size: 23px;
                }
                .modal-desc {
                    color: #e5eef0;
                    font-size: 16px;
                    font-weight: 400;
                }
                .email-input {
                    border-radius: 8px !important;
                    .btn {
                        padding: 4px 10px !important;
                        border-radius: 8px !important;
                    }
                }
                .required {
                    &:after {
                        color: #f62947;
                        content: "*";
                        font-size: inherit;
                        font-weight: 700;
                        position: relative;
                    }
                }

                .input-box {
                    background-color: #f5f8fa;
                    border: unset;
                    color: #5e6278;
                    transition: all 0.2s ease;
                    font-size: 1.1rem;
                    line-height: 1.5;
                    padding: 0.75rem 1rem;
                    border-radius: 0.475rem;

                    &:focus {
                        box-shadow: unset;
                        background-color: #eef3f7;
                    }
                }
                .input-group {
                    background: black;
                    border: none;
                }
            }
            .modal-footer {
                padding: 1.875rem;
                border-top: none !important;
                .btn {
                    padding: 10px 20px !important;
                    border-radius: 0.475rem !important;
                }
                .submit-btn {
                    background-color: #e5eef0 !important;
                    border: unset;
                    outline: unset;
                    color: #212020;
                    padding: 10px 20px !important;
                    margin-top: 26px;

                    &:hover {
                        background-color: #6571ff !important;
                    }

                    &:focus {
                        box-shadow: unset;
                    }
                }
            }
        }
    }
}
#email-send {
    background-color: #e5eef0;
    color: #212020 !important;
    font-size: 15px;
    border: none;
    border-radius: 8px;
}
#newsLatterModal {
    .modal-dialog {
        @media (min-width: 576px) {
            max-width: 420px !important;
            min-height: calc(100% - 5rem) !important;
            transform: none !important;
        }
    }
}
.animate-bottom {
    position: relative;
    animation: animatebottom 0.4s;
}

@keyframes animatebottom {
    from {
        bottom: -300px;
        opacity: 0;
    }

    to {
        bottom: 0px;
        opacity: 1;
    }
}
.add-contact-btn {
    height: 50px !important;
    margin: 0 auto;
    color: #ffffff;
    border-radius: 40px !important;
    padding: 14px 28px !important;
    transition: 0.3s all ease-in-out;
    i {
        font-size: 1rem;
    }
    &:hover {
        background-color: #1cbbb4 !important;
        color: white !important;
        transform: scale(1.05);
    }
}
.audio-control {
    position: absolute;
    bottom: 0px !important;
    left: 1px;
}
.verification-icon {
    color: $cyan;
}
.main-content.rtl {
    .ms-3 {
        margin-right: 1rem !important;
        margin-left: 0 !important;
    }
    .calendar-icon {
        left: 18px;
        right: auto;
    }
    .text-start {
        text-align: right !important;
    }
    .contact-section .contact-box .contact-icon {
        margin-left: 15px;
    }
    .ms-3 {
        margin-left: 1rem !important;
    }
    @media (min-width: 576px) {
        .text-sm-start {
            text-align: right !important;
        }
    }
    .text-start {
        text-align: right !important;
    }
}
.profile-section .card[dir="rtl"] {
    .card-img {
        @media (min-width: 576px) {
            margin-right: 0;
            margin-left: 30px;
        }
    }
}

.btn-section.rtl {
    right: auto !important;
    left: 15px !important;
}

.btn-section.rtl {
    right: auto !important;
    left: 15px !important;
}

.modal-content[dir="rtl"] {
    .pl-50 {
        padding-right: 50px;
    }
    .text-center {
        text-align: start !important;
    }
    .arrow {
        transform: rotate(180deg) !important;
    }
    .input-group:not(.has-validation) > :not(:last-child):not(.dropdown-toggle):not(.dropdown-menu) {
        border-bottom-left-radius: 0 !important;
        border-top-left-radius: 0 !important;
        border-top-right-radius: 0.313rem !important;
        border-bottom-right-radius: 0.313rem !important;
    }
    .input-group
        > :not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(
            .invalid-feedback
        ) {
        border-bottom-right-radius: 0 !important;
        border-top-right-radius: 0 !important;
        border-top-left-radius: 0.313rem !important;
        border-bottom-left-radius: 0.313rem !important;
    }
}

.slick-prev:before {
    color: black !important;
    margin-left: 10px !important;
}

.slick-next:before {
    color: black !important;
    margin-right: 10px !important;
}

.slick-next {
    right: -13px !important;
}
.toast-title {
    margin-right: 12px;
}
.toast-message {
    margin-right: 12px;
}
.link-info {
    color: $pink !important;
}
.input-box {
    padding: 15px 20px;
    display: grid;
    place-items: center;
    border: 1px solid #ed088b !important;
    background-color: #fef2f9;
    border-radius: 30px !important;
    margin-bottom: 5px;
    cursor: pointer;
}

.input-box h4 {
    margin: 0;
    color: #ed088b !important;
    font-size: 14px !important;
}

.file-list li {
    color: #6b7075 !important;
}

.selected-files .item {
    border: 1px solid #cdd3d9 !important;
    border-radius: 8px !important;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
}

.file-list .name {
    flex-grow: 1;
}

.file-list .remove {
    margin-left: 8px;
    cursor: pointer;
    color: red;
}

.file-list .remove svg {
    width: 16px;
    height: 16px;
}

.selected-files .item .name {
    color: #4f5154 !important;
}

.selected-files h5 {
    color: #082541 !important;
    font-size: medium !important;
    margin-top: 9px !important;
    margin-bottom: 10px !important;
}

small {
    font-size: 12px;
    color: #423f8d !important;
    font-weight: 500;
}

.file-list {
    overflow-y: auto;
    list-style-type: none !important;
    padding: 0 0 10px 0;
    margin: 0;
    max-height: 220px;
    font-size: medium !important;
}

.modal {
    padding-right: 0 !important;
    &.show {
        padding-right: 0 !important;
        .modal-dialog {
            transform: translateY(35px) !important;
            @media (min-width: 576px) {
                margin: 2.5rem auto !important;
                max-width: 520px !important;
            }
        }
    }
    .modal-dialog {
        transform: translateY(95px) !important;
        &.modal-bottom {
            height: 87vh !important;
        }
    }
}
.pwa-support {
    width: 100%;
    max-width: 400px;
    height: auto !important;
    position: fixed !important;
    bottom: 20px;
    z-index: 99999 !important;
    padding: 24px;
    border-radius: 20px;
    background-color: #ffffff !important;
    left: 0;
    right: 0;
    margin: 0 auto;
    border: 1px solid #ed088b !important;
    .pwa-heading {
        font-size: 20px;
        margin-bottom: 12px;
    }
    .pwa-text {
        margin-bottom: 16px;
        font-size: 0.875rem !important;
    }
}
.pwa-install-button {
    background: #ed088b !important;
    color: $white !important;
    border-radius: 30px !important;
    padding: 0.563rem 1.563rem !important;
    font-weight: 400 !important;
    font-size: 0.875rem !important;
}
.pwa-cancel-button {
    background-color: #adb5bd !important;
    color: #000000;
    border-radius: 30px !important;
    padding: 0.563rem 1.563rem;
    border: none !important;
    font-weight: 400 !important;
    font-size: 0.875rem !important;
    &:hover {
        background-color: #d1d5db !important;
        border: none !important;
        color: #000000 !important;
    }
}
.youtube-link-24 {
    padding-top: 56.25%;
    position: relative;
    iframe {
        position: absolute !important;
        top: 0;
        left: 0 !important;
        height: 100% !important;
        width: 100 !important;
    }
}

.card-margin {
    .card-body {
        margin-top: 50px !important;
    }
}
.company-name {
    color: $cyan;
}
.row-gap-20px {
    row-gap: 20px;
}
.card-back {
    background: #f4f4ff !important;
    border: 1px solid #423f8d !important;
}
.bg-primary {
    background-color: #423f8d !important;
}
.map-section {
    .map-content {
        background: #fefcee;
        border-radius: 30px;
        border: 1px solid #fbce0f;
        overflow: hidden;
        .location-icon {
            width: 45px;
            min-width: 45px;
            height: 50px;
            background-image: url("../../../public/assets/img/vcard24/contact-icon-bg-24.svg");
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            img {
                height: 24px !important;
            }
        }
    }
}
.view-all {
    border-radius: 30px !important;
}
.section-bg-bottom,
.section-bg-top {
    z-index: 1;
}
.vector-all {
    z-index: 2;
    @media (max-width: 575px) {
        img {
            width: 60% !important;
        }
    }
}
.bg-vector-1 {
    left: 0;
    top: 0;
}
.bg-vector-2 {
    right: 0;
    top: 0;
}
.bg-vector-3 {
    left: 0;
    top: 0;
}
.bg-vector-4 {
    left: 5px;
    top: 0;
}
.bg-vector-5 {
    left: 5px;
    top: 0px;
}
.bg-vector-6 {
    left: 0;
    top: 0;
}
.bg-vector-7 {
    left: 5px;
    top: 0px;
}
.bg-vector-8 {
    left: 0;
    top: 0;
}
.bg-vector-9 {
    left: 5px;
    top: 5px;
}
.bg-vector-10 {
    left: 5px;
    top: 0;
}
.bg-vector-11 {
    left: 5px;
    top: 0px;
}
.bg-vector-12 {
    left: 0;
    top: 0;
}
.bg-vector-13 {
    right: 5px;
    top: 5px;
}
.bg-vector-14 {
    left: 5px;
    top: 0;
}
.bg-vector-15 {
    left: 5px;
    top: 0px;
}
.bg-vector-16 {
    right: 0;
    top: 0;
}
.bg-vector-17 {
    right: 0;
    bottom: 0;
}
.bg-vector-18 {
    right: 5px;
    bottom: 0;
}
.bg-vector-19 {
    right: 5px;
    bottom: 0;
}
.bg-vector-20 {
    right: 5px;
    bottom: 0;
}
.bg-vector-21 {
    right: 4px;
    bottom: -8px;
}
.bg-vector-22 {
    right: 5px;
    bottom: 0;
}
.right-arrow-animation {
    animation: right-arrow 1s linear 1s infinite alternate;
}
@keyframes right-arrow {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(8px);
    }
}
.animation-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    z-index: -1;
    overflow: hidden;
}

.animation-container span {
    position: absolute;
    top: 0;
    white-space: pre;
    animation: fall linear;
}

.char {
    display: inline-block;
    animation: pulse 2s ease-in-out infinite;
}

@keyframes fall {
    from {
        transform: translateY(100vh);
        opacity: 1;
    }
    to {
        transform: translateY(-10vh);
    }
}

@keyframes pulse {
    0%,
    100% {
        transform: scale(1);
    }
    50% {
        transform: scale(2);
    }
}
.linkedin-feed{
    max-height: 1000px!important;
    overflow-x: hidden !important;
    overflow-y: auto !important;
}
.linkedin-feed-iframe {
    height: 500px;
    margin-bottom: 20px;
    border-radius: 8px;
    overflow: hidden;
}

.linkedin-feed-iframe iframe {
    width: calc(100% - 2px) !important;
    height: 500px !important;
    border: 1px solid #423f8d !important;
    border-radius: 15px !important;
    transform-origin: top left;
    transform: scale(1);
}
.sound-toggle-btn {
    position: absolute;
    bottom: 12px;
    right: 5px;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: none;
    background: rgba(0, 0, 0, 0.55);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 10;
}

@media (max-width: 425px) {
    .sound-toggle-btn {
        bottom: 12px;
        right: 2px;
    }
}

@media (max-width: 375px) {
    .sound-toggle-btn {
        bottom: 10px;
        right: 2px;
    }
}

@media (max-width: 320px) {
    .sound-toggle-btn {
        bottom: 10px;
        right: 2px;
    }
}

.sound-toggle-btn i {
    font-size: 18px;
}
